<%- include("partials/header") -%>

<div class="form-container col-lg-4">
    <h3>Sign into Cryptoview</h3>
    <form action="/signin" method="POST">
        <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="username" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>

<%- include("partials/footer") -%>